@model IEnumerable<DeveloperInterview.Website.Models.OrderIndexViewModel>

@{
    ViewBag.Title = "getAllOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>getAllOrders</h2>

<p>
    @Html.ActionLink("Create New", "CreateOrder")
</p>
<table class="table">
	<tr>
		<th>
			Customer Oder Id
		</th>
		<th>
			First Name
		</th>
		<th>
			ProductId
		</th>
		<th>
			Name
		</th>
		<th>
			Price
		</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.CustomerOrderId)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.FirstName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ProductId)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Price)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
				@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
				@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
			</td>
		</tr>
	}


</table>
<p>@Html.ActionLink("Back", "Index", "Order")</p>
